<section class="vh-100" style="background-color: #150f10;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    {{!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" --}}
                    <img src="https://images.unsplash.com/photo-1597462658709-b2616ae8f2ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTUzfHx0YXhpfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">

                         <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">BOOK NOW</h5>
                         <div class="card" style="width: 20rem;">
                            <div class="card-body">
                            <h5 class="card-title">S cabs</h5>
                            <p class="card-text">
                                S</p>
                            <a href="/cabdetails/" class="btn btn-primary">BOOK NOW</a>
                            </div>
                            </div>