<section class="vh-100" style="background-color: #150f10;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        {{!-- <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              {{!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" --}}
                {{!-- <img
                src="https://images.unsplash.com/photo-1597462658709-b2616ae8f2ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTUzfHx0YXhpfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" /> --}}
            </div> --}}
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"></h5>
                <div class="card-group">
                  <div class="card">
                    <img
                      src="https://images.unsplash.com/photo-1647668747141-4c1505825332?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHBhbGFra2FkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                      class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Palakkad</h5>
                      <p class="card-text">Palakkad is a vast stretch of fertile plains interspersed with hills, rivers, mountain streams and forests and is home to the Silent Valley National Park.</p>

                    </div>
                  </div>
                  <div class="card">
                    <img
                      src="https://images.unsplash.com/photo-1614090699960-b4c81be49f3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGhpcnV2YW5hbnRoYXB1cmFtfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=550&q=60"
                      class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Trivandrum</h5>
                      <p class="card-text">Thiruvananthapuram is located on the west coast of India near the extreme south of the mainland.</p>

                    </div>
                  </div>
                  <div class="card">
                    <img
                      src="https://images.unsplash.com/photo-1579955267568-d533e197ef1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8a296aGlrb2RlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                      class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Calicut</h5>
                      <p class="card-text">Today Kozhikode is one of the best cities in Kerala. Endowed with lush green countrysides, serene beaches, historic sites.</p>

                    </div>
                  </div>
                </div>
                <div>
                  <div class="card" style="width: 35rem;">
                    <div class="card-body">
                      <h5 class="card-title">RIDEx CABS</h5>
                      <p class="card-text">
                      </p>
                      <a href="/cabdetails/" class="btn btn-primary">BOOK NOW</a>
                    </div>
                  </div>
                </div>